<section>
    <h1>RESTful API Test</h1> 
    {{#if userNames}}
    <ul>
        {{#each userNames}}
        <li>
            <h1>{{this.name}}</h1>
        </li>
        {{/each}}
    </ul>
    {{/if}}
</section>